WebServiceTest/WebContent/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.sinosoft.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.sinosoft.com" xmlns:intf="http://webservice.sinosoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.sinosoft.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType/>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloToPerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloToPersonResponse">
    <complexType>
     <sequence>
      <element name="sayHelloToPersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello2">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello2Response">
    <complexType>
     <sequence>
      <element name="sayHello2Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloToPersonRequest">

      <wsdl:part element="impl:sayHelloToPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloToPersonResponse">

      <wsdl:part element="impl:sayHelloToPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHello2Request">

      <wsdl:part element="impl:sayHello2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHello2Response">

      <wsdl:part element="impl:sayHello2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloService">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloToPerson">

         <wsdl:input message="impl:sayHelloToPersonRequest" name="sayHelloToPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloToPersonResponse" name="sayHelloToPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello2">

         <wsdl:input message="impl:sayHello2Request" name="sayHello2Request">

       </wsdl:input>

         <wsdl:output message="impl:sayHello2Response" name="sayHello2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloServiceSoapBinding" type="impl:HelloService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloToPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloToPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloToPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHello2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHello2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloServiceService">

      <wsdl:port binding="impl:HelloServiceSoapBinding" name="HelloService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/HelloService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
